<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>New Frontiers Data Viewer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

</head>
<body>
    <div id="app">
        <form id="repo-form" class="form">
            <label for="owner-input">Owner:</label>
            <input type="text" id="owner-input" name="owner" placeholder="Enter owner name">
            <label for="repo-input">Repo:</label>
            <input type="text" id="repo-input" name="repo" placeholder="Enter repo name">
            <label for="gh-token">GH Access Token:</label>
            <input type="password" id="gh-token" name="ghtoken" placehold="Enter Github personal token">
            <button id="load-btn" type="button">Load Shapefiles</button>
        </form>
        <div id="shapefile-select-container">
            Select a GeoJSON or KML file:
            <input type="text" id="search" placeholder="Search for files">
            <select id="file-select"></select>
        </div>
        <div id="map" style="width: 100%; height: 100vh;"></div>
    </div>
    

    <!-- JS files-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-omnivore/0.3.4/leaflet-omnivore.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/corslite@0.0.7/corslite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>

    <!-- Load Esri Leaflet Vector from CDN -->
    <script src="https://unpkg.com/esri-leaflet-vector@4.0.1/dist/esri-leaflet-vector.js" crossorigin=""></script>
    <script src="/static/app.js"></script>
</body>
</html>